################################################################################
# 
################################################################################

/AllAuthDemo/bin
/AllAuthDemo/obj
/.vs
/AllAuthDemo/Properties
